if TARGET_IBOX4418

config  SYS_BOARD
        default "ibox4418"

config  SYS_CONFIG_NAME
        default "ibox4418"

config  SYS_I2C_S5P4418_SPEED
        int
        default 100000

config  SYS_I2C_S5P4418_SLAVE
        hex
        default 0xFE

endif
